<h1 id="title">RATE THIS SONG</h1>
<div id="infoDiv">
	<h2 id="logininfo">{{username}}</h2>
</div>
<style>
	#logininfo,#instructions{
		display: flex;
	}
</style>
<div id=heading>
	<div id="instructions">
		<h2>instructions</h2>
		<li>Please read each line below and provide a rating out of 5 for each emotion</li>
		&nbsp
		<li>Read each line independently of one another</li>
		&nbsp
		<li>Leaving a zero for a category is OK and often will be the most accurate rating for a particular emotion</li>
		&nbsp
		<li>Please answer as honnestly as possible, the system will detect random/spam responses and you will recieve no credit</li>
		&nbsp
		<button id="beginSurvey">BEGIN</button>
	</div>
</div>
<div id="lineDiv">
	<h2 id="progress"><h2>
	<h2 id="line">"TEST"</h2>
	<input type="number" min="0" max="10" name="joy" placeholder="JOY"></option>
  	<input type="number" min="0" max="10" name="anger" placeholder="ANGER"></option>
  	<input type="number" min="0" max="10" name="disgust" placeholder="DISGUST"></option>
  	<input type="number" min="0" max="10" name="sadness" placeholder="SADNESS"></option>
  	<input type="number" min="0" max="10" name="fear" placeholder="FEAR"></option>
  	<input type="number" min="0" max="10" name="surprise" placeholder="SURPRISE"></option>
  	<button id="nextBttn">NEXT</button>
</div>