#heading,#loginDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid;
	width: 33%;
	background-color: #5F4B66;
	border: solid;
	
}
#infoWrapper{
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#infoWrapper2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#title{
	text-align: center;
	font-size: 35pt;
	font-family: "helvetica"
}
#access{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#accessText{
	margin-bottom: 0px;
}
#userLog,#passLog{
	width: 100%;
}
#infoDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}
#instructions{
	display: none;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	text-align: center;
}
#logininfo{
	margin-top: 0px;
	font-size: 32pt;
}
#lineDiv{
	display: none;
	flex-direction: row;
	
}
#outputDiv{
	display: flex;
	align-items: center;
	flex-direction: column;
}
#inputs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}
#submitBttn{
	display: none;
}
#nextBttn{
	width: 175%;
	margin-right:50px; 
}
#ratingWrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#progHeader{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.eInputs{
	margin-bottom: 20px;
	margin-left: 20px;
}
h3{
	cursor: pointer;
	margin-top: 0px;
	font-family: "helvetica"
}
h1{
	font-family: "helvetica"
}
h2{
	font-family: "helvetica"
}
p{
	margin: 8px;
}

input{
	width: 150%;
}
body{
	background-color: #8797AF
}

