#heading,#loginDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid;
}
#title{
	text-align: center;
	font-size: 35pt;
}
#access{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#accessText{
	margin-bottom: 0px;
}
#userLog,#passLog{
	width: 100%;
}
#infoDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}
#instructions{
	display: none;
	flex-direction: column;
	align-items: center;
}
#logininfo{
	margin-top: 0px;
	font-size: 32pt;
}
#lineDiv{
	display: none;
	flex-direction: column;
	align-items: center;
}
#outputDiv{
	display: flex;
	align-items: center;
	flex-direction: column;
}
h3{
	cursor: pointer;
	margin-top: 0px;
}
p{
	margin: 8px;
}
input{
	width: 10%;
}

